apiVersion: v1
kind: Service
metadata:
  name: streamlit-service
  namespace: dev
  labels:
    app: streamlit-app
spec:
  type: NodePort
  ports:
  - port: 8501
    targetPort: 8501
    protocol: TCP
    name: http
  selector:
    app: streamlit-app