apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  namespace: dev
  labels:
    app: mysql
    tier: database
spec:
  type: ClusterIP
  ports:
  - port: 3306
    targetPort: 3306
    protocol: TCP
    name: mysql
  selector:
    app: mysql
    tier: database
  sessionAffinity: ClientIP
---
apiVersion: v1
kind: Service
metadata:
  name: mysql-external
  namespace: dev
  labels:
    app: mysql
    tier: database
spec:
  type: NodePort
  ports:
  - port: 3306
    targetPort: 3306
    nodePort: 30306
    protocol: TCP
    name: mysql
  selector:
    app: mysql
    tier: database