{{- if .Values.mysql.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "ecommerce-platform.mysql.labels" . | nindent 4 }}
data:
  my.cnf: |
    [mysqld]
    default-authentication-plugin=mysql_native_password
    max_connections={{ .Values.mysql.config.maxConnections }}
    character-set-server={{ .Values.mysql.config.characterSet }}
    collation-server={{ .Values.mysql.config.collation }}
    
    # Performance tuning
    innodb_buffer_pool_size=512M
    innodb_log_file_size=128M
    
    # Logging
    general_log=1
    general_log_file=/var/log/mysql/general.log
    slow_query_log=1
    slow_query_log_file=/var/log/mysql/slow.log
    long_query_time=2
{{- end }}